body {
    background: #00f200;
    background: #0f0;
    background: rgb(255,0,0);
    background: rgba(255,0,0,.5);

    color:#0af;
}

body > header > h3 {
    background:#fff;
    color:#0f0;
}


h4 {
    color:#000;
}

body h3 {
    color:#f00;
}

